td {font-size:10pt; line-height:180%;}
.xt{font-size:10pt;line-height:180%; border-bottom:1px #bbbbbb dashed;font-family:"ו", "arial", "ms sans serif";}
.bt{font-size:10pt;line-height:180%; border-bottom:1px #bbbbbb solid;font-family:"ו", "arial", "ms sans serif";}
.inp{font-size:11.5pt; height: 28px;}
a:link {color: blue; text-decoration: none }
a:active {color: blue; text-decoration: underline}
a:visited {color: #c04dc0; text-decoration: none}
a:hover {color: blue; text-decoration: underline;position:relative;left:1px;top:1px}
a.cat:link {color: red; text-decoration: none }
a.cat:active {color: red; text-decoration: none}
a.cat:visited {color: red; text-decoration: none}
a.cat:hover {color: blue; text-decoration: underline;position:relative;left:1px;top:1px}
a.tt:link {color: black; text-decoration: none}
a.tt:active {color: blue; text-decoration: underline}
a.tt:visited {color: black; text-decoration: none;}
a.tt:hover {color: blue; text-decoration: underline;position:relative;left:1px;top:1px}
a.bl:link {color: blue; text-decoration: none}
a.bl:active {color: red; text-decoration: none}
a.bl:visited {color: blue; text-decoration: none}
a.bl:hover {color: red; text-decoration: underline;position:relative;left:1px;top:1px}
a.tl:link {color: #123b8d; text-decoration: none}
a.tl:active {color: blue; text-decoration: none}
a.tl:visited {color: #123b8d; text-decoration: none}
a.tl:hover {color: blue; text-decoration: underline;position:relative;left:1px;top:1px}
body {margin-top:0px;margin-right:0px;margin-bottom:0px;}
h1 {font-size:22px;line-height:180%;margin:0px;padding: 0px;color: #cc0000;}
p {font-size:10.5pt;line-height:180%;}
input{font-size:11.5pt;height:25px;}
div,form,img,ul,li,img{margin:0; padding:0; border:0;}
table{background-color:#ffffff;} .ed2kzone{background-color: #9FaFbF;border: 1px solid #CCC;}
.ed2ktitle{background:#AAA;color:#FFFFFF;font-weight:bold;}
.ed2ktitle a{color:#888;}
.ed2kheader{background:#c0d0e0;color:#000000}
.ed2kitem{background-color: #FFFFFF;}
.ed2kitemChecked{background-color: #FFFFCC;}
#popupcontent{
position: relative;
visibility: hidden;
border:1px solid #CCC;
background-color:#F9F9F9;
border:1px solid #333;
padding:5px;
overflow:scroll;
}
